.container {
    width: fit-content;
    margin: 0;
    position: relative;
}

.image {
    height: 6rem;
    border: solid 5px black;

}

.image:hover {
    border: solid 5px green;
}

.btns {
    position: absolute;
    z-index: 100;
}

.btn {
    width: fit-content;
    height: 1.5rem;
    font-size: 1rem;
    background-color: rgba(204, 204, 204, 0.841);
    border-radius: 5px;
    margin: 0.25rem;
    z-index: 30;
}

.btn:hover{
    background-color: lightgreen;
} 

.details {
    position:absolute;
    margin-top: -2rem;
    margin-left: 0.5rem;

    height: 1.5rem;
    font-size: 1rem;
    background-color: rgba(204, 204, 204, 0.841);
    border-radius: 5px;
}

/* .details:hover {
    background-color: lightgreen;
 
} */